/* This css file deals with the header, mostly the navigation bar */

/* changes the background colour of the body */
body{
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}
/* NAVIGATION CSS */
/* deals with the animation of the hamburger icon */
.animated-icon{
width: 30px;
height: 20px;
position: relative;
margin: 0px;
transform: rotate(0deg);
transition: .5s ease-in-out;
cursor: pointer;
}

/* deals with the animation of the hamburger icon */
.animated-icon span{
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
transform: rotate(0deg);
transition: .25s ease-in-out;
}

/* changes the background colour of the hamburger icon */
.animated-icon span {
background: #ffffff;
}

/* Placement of the first bar on the hamburger icon */
.animated-icon span:nth-child(1) {
top: 0px;
}

/* Placement of the second bar on the hamburger icon */
.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
top: 10px;
}

/* Placement of the third bar on the hamburger icon */
.animated-icon span:nth-child(4) {
top: 20px;
}

/* deals with with placement of the first line on the hamburger when it opens */
.animated-icon.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

/* deals with with placement of the second line on the hamburger when it opens */
.animated-icon.open span:nth-child(2) {
transform: rotate(45deg);
}

/* deals with with placement of the third line on the hamburger when it opens */
.animated-icon.open span:nth-child(3) {
transform: rotate(-45deg);
}

/* deals with with placement of the fourth line on the hamburger when it opens */
.animated-icon.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Deals with the background colour of the navigation bar and the distance from the top */
nav{
  background: #049861;
}

/* deals with the title in the navigation bar */
.navbar-title{
  color: #ffffff;
}

/* what happens when hovering over the title inside the navigation bar */
.navbar-title:hover{
  color: #ffffff;
}
/* END OF NAVIGATION CSS */

/* deals with the video loop inside the header*/
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

/* deals with the video loop inside the header*/
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* deals with the video loop inside the header*/
header .container {
  position: relative;
  z-index: 2;
}

/* deals with the video loop inside the header*/
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#changeText{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#changePerson{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}


/* END OF HEADER CSS */

/* MAIN CONTENT CSS */
#first-content{
  margin-top: 25px;
}

/* deals with the map */
#map-box{
  height: 500px;
  max-height: 600px;
}

/* deals wiht the map */
#map {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 96%;
}

/* deals with the donation page map */
#donationMap {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 96%;
}

#recipe{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 96%;

}

#image{
  height: 500px;
  max-height: 600px;
  margin: 10px;
  padding: 10;
}

#more{
  display: none;
}

#more2{
  display: none;
}

#more3{
  display: none;
}

#more4{
  display::none;
}

#more5
{
  display:none;
}

#more6{
  display:none;
}




/* deals witht the text within content */
.content-text{
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 15px;
}

/* deals with the heading within content */
.content-text h1{
  text-transform: uppercase;
  font-weight: 400;
}

/* deals with the paragraph within content */
.content-text p{
  text-align: left;
  font-size: 28px;
}

.content-text form{
  margin: 0 auto;
  width:700px;
}


.content-text h3
{
  text-align: center;
}
.content-text li
{
  text-align: center;
  font-size: 16px;
}



/* aligns text to be centered when the screen size is small */
@media only screen and (max-width: 650px) {
  .content-text p {
    text-align: center;
  }

  .content-text h1{
    text-align: center;
  }
}

/* deals with the carousel images and text */
.carousel-item{
  width: 100%;
  height:auto;
  max-height: 800px;
}

/* green line on top of the gallery */
.green-line{
  margin-top: 10px;
  background: #049861;
  height: 15px;
}

/* green line on the bottom of the gallery */
.green-line2{
  background: #049861;
  height: 15px;
  margin-bottom: 15px;
}

/* deals with the little video in the index page */
#video-content{
  position: relative;
}

/* deals with the little video in the index page */
#video-content iframe{
  width: 100%;
}

/* text on top of the carousel image */
#carousel-text{
  color: #ffffff;
  background: #049861;
  opacity: 90%;
  border-radius: 25px;
}

/* deals with the about page text areas */
#about-content{
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
}

/* deals with the about page text areas */
#about-content h1{
    text-transform: uppercase;
    font-weight: 400;
}

/* deals with the about page image areas */
#about-image{
  margin-left: 2px;
  margin-right: 2px;
}

/* deals with the about page image areas */
#about-image img{
  height: 300px;
  width: 98%;
}

/* deals with the about page image areas */
#about-image .card{
  height: 300px;
  width: 98%;
  margin-bottom: 15px;
}

/* END OF MAIN CONTENT CSS */

/* FOOTER CSS */
/* deals with the footer */
#page-footer{
  background: #049861;
  margin-top: 5px;
}

/* deals with footer list style  */
footer ul{
  list-style: none;
}

/* deals with the different page links in the header */
footer a{
  color: #ffffff;
}

/* deals witht ath happens when you hover over footer list */
ul li a:hover{
  color: #ffffff;
}

/* deals witht the headings inside the footer */
.col-heading {
  font-size: 25px;
  text-transform: uppercase;
  color:#ffffff;
  font-weight: 500;
  margin: 10px 0;
  padding: 4px 0px;
  border-bottom: 1px solid #ffffff;
  letter-spacing: 3px;
}

/* deals with the small copyright text in the small footer */
#bottom-footer {
  color: #ffffff;
  margin-top: 20px;
  padding-top: 3px;
  background: #037f51;
}

/* deals with thr small text under the footer on the left */
.vertical-links li {
  display: inline-block;
  vertical-align: text-bottom;
}

/* deals with thr small text under the footer on the left */
.vertical-links li a {
  color: #ffffff;
  font-weight: 400;
  margin-left: 10px;
}
/* END OF FOOTER CSS */
