/* This css file deals with the header, mostly the navigation bar */

/* NAVIGATION CSS */
/* deals with the animation of the hamburger icon */
.animated-icon{
width: 30px;
height: 20px;
position: relative;
margin: 0px;
transform: rotate(0deg);
transition: .5s ease-in-out;
cursor: pointer;
}

/* deals with the animation of the hamburger icon */
.animated-icon span{
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
transform: rotate(0deg);
transition: .25s ease-in-out;
}

/* changes the background colour of the hamburger icon */
.animated-icon span {
background: #ffffff;
}

/* Placement of the first bar on the hamburger icon */
.animated-icon span:nth-child(1) {
top: 0px;
}

/* Placement of the second bar on the hamburger icon */
.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
top: 10px;
}

/* Placement of the third bar on the hamburger icon */
.animated-icon span:nth-child(4) {
top: 20px;
}

/* deals with with placement of the first line on the hamburger when it opens */
.animated-icon.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

/* deals with with placement of the second line on the hamburger when it opens */
.animated-icon.open span:nth-child(2) {
transform: rotate(45deg);
}

/* deals with with placement of the third line on the hamburger when it opens */
.animated-icon.open span:nth-child(3) {
transform: rotate(-45deg);
}

/* deals with with placement of the fourth line on the hamburger when it opens */
.animated-icon.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Deals with the background colour of the navigation bar and the distance from the top */
nav{
  background: #049861;
}

/* deals with the title in the navigation bar */
.navbar-title{
  color: #ffffff;
}

/* what happens when hovering over the title inside the navigation bar */
.navbar-title:hover{
  color: #ffffff;
}
/* END OF NAVIGATION CSS */

/* deals with the placement of the image inside the header */
video{
  width: 100%;
}
/* END OF HEADER CSS */

/* MAIN CONTENT CSS */
#first-content{
  margin-top: 25px;
}

/* deals with the map */
#map-box{
  height: 500px;
}

/* deals wiht the map */
#map {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
}

/* deals witht the text within content */
.content-text{
  padding-left: 25px;
}

/* deals with the heading within content */
.content-text h1{
  text-transform: uppercase;
}

/* deals with the paragraph within content */
.content-text p{
  text-align: left;
  font-size: 30px;
}

/* END OF MAIN CONTENT CSS */

/* FOOTER CSS */
/* deals with the footer */
#page-footer{
  background: #049861;
  margin-top: 5px;
}

/* deals with footer list style  */
footer ul{
  list-style: none;
}

/* deals with the different page links in the header */
footer a{
  color: #ffffff;
}

/* deals witht ath happens when you hover over footer list */
ul li a:hover{
  color: #ffffff;
}

/* deals witht the headings inside the footer */
.col-heading {
  font-size: 25px;
  text-transform: uppercase;
  color:#ffffff;
  font-weight: 500;
  margin: 10px 0;
  padding: 4px 0px;
  border-bottom: 1px solid #ffffff;
  letter-spacing: 3px;
}

/* deals with the small copyright text in the small footer */
#bottom-footer {
  color: #ffffff;
  margin-top: 20px;
  padding-top: 3px;
  background: #037f51;
}

/* deals with thr small text under the footer on the left */
.vertical-links li {
  display: inline-block;
  vertical-align: text-bottom;
}

/* deals with thr small text under the footer on the left */
.vertical-links li a {
  color: #ffffff;
  font-weight: 400;
  margin-left: 10px;
}
/* END OF FOOTER CSS */
